<nav style ="background-color:#4acc89" >
    <ul class="nav">
       
        <li><a href="homepage">Home</a></li>
        <li><a href="aboutMe">AboutMe</a></li>
        <li><a href="projects">project</a></li>
        <li><a href="services">service</a></li>
        <li><a href="contactMe">contactMe</a></li>
        <li><a href="login">Login</a></li>
      </ul>
</nav>

