<link rel="stylesheet" href="css/style.css">
<h1> Welcome To My AboutMe Page</h1>
<h3>Hi, My name is Junhua Guan from China. I am currenly enrolled in Software Engineering Technician Major at Centennial collge<br>
    I have some experences with C# and java script progamming</h3>

    <img id="myphoto" src="/img/my.photo.jpeg" style="margin-left: 630px; margin-right: auto; padding-right: 20px; width: 300px; height: 300px;">

    <div id="buttonhp" style="padding: 3cm; margin-left: 619px; margin-right: auto;">
    <a href="../views/partials/assignment1resume.pdf">
        <input id="submitBtn" type="button" value="My Resume"/>
    </a>
</div>