<link rel="stylesheet" href="css/style.css">
<h1> Welcome To My ContactMe Page</h1>
<h3> Email: jguan28@my.centennialcollege.ca<br>
    Name: Junhua Guan<br>
    Send me a message below to contact me !</h3>

<hr>
<div class="contact">
    <fieldset>
        <form id="form">
            <table id="table">
                <tr>
                    <td class="ers">
                        <div></div>
                    </td>
                    <td>
                        <div class="ert"></div><label for="firstname">First Name: </label>
                    </td>
                    <td><input id="firstname" name="firstname" type="text" /></td>
                </tr>

                <tr>
                    <td class="ers">
                        <div></div>
                    </td>
                    <td>
                        <div class="ert"></div><label for="lastname">Last Name:</label>
                    </td>
                    <td><input id="lastname" type="text" /></td>
                </tr>
                <tr>
                    <td class="ers">
                        <div></div>
                    </td>
                    <td>
                        <div class="ert"></div><label for="address">Address: </label>
                    </td>
                    <td><input id="address" type="text" /></td>
                </tr>
                <tr>
                    <td class="ers">
                        <div></div>
                    </td>
                    <td>
                        <div class="ert"></div><label for="email">Email: </label>
                    </td>
                    <td><input id="email" type="email" /></td>
                </tr>
            </table>
            <hr>
            <div id="submitForm">
                <a href="homepage">
                    <input id="submitBtn" type="button" value="Send"/>
                </a>
            </div>
        </form>
</div>
</fieldset>