<body>
<link rel="stylesheet" href="css/style.css">
<h1> Welcome To My HomePage</h1>
<h3>Hi, My name is Junhua Guan. This is the homepage of my website and <br>in this website here today i will show you my services and projects</h3>
</body>