<body>
<link rel="stylesheet" href="css/style.css">
<h1> Welcome To My HomePage</h1>
<h3>Hi,This is the homepage of my website and
    <br>in this website here today i will show you my services and projects<br>
        My mission is to create the top quality of work with the fairest price for my cutstomer</h3>
<div id="buttonhp" style="padding: 3cm; margin-left: 619px; margin-right: auto;">
    <a href="aboutMe">
        <input id="submitBtn" type="button" value="About Me"/>
    </a>
</div>
</body>

