<link rel="stylesheet" href="style.css">
<h1> Welcome To My Project Page</h1>
<img id="project" src="/img/Bmr.JPG" style="margin-left: 405px; margin-right: auto; padding-right: 20px;">
<h3>This is one of the project i created during my second semester in centenniall collge.<br>
    it is an BMR calculator website which allows users to know their own BMR numbers so that they can plan out their diets.
</h3>

<img id="project" src="/img/table.JPG" style="margin-left: 445px; margin-right: auto; padding-right: 20px;">
<h3>This is a Generate table websie which i created during my second semester in centennial college.<br>
    If a user enter the amount of colum and rows on then hit the submit button then the website will generate the requested table size for the user</h3>