<link rel="stylesheet" href="css/style.css">

<h1> Welcome To My Services Page</h1>
<img id="project" src="/img/Top-Uses-of-C.JPG" style="margin-left: 330px; margin-right: auto; padding-right: 20px;">
<h2>As i mentioned on my AboutMe Page i have experecnes with C# so one of my services is providing C# development</h2>

<img id="project" src="/img/WebDevelopmentImage.JPEG" style="margin-left: 180px; margin-right: auto; padding-right: 20px;">
<h2>I have experecnes with html, java, css ect.. which i also provide website developing services </h2